<div class="wrapper">
  <h2 class="title">Jeszcze nie należysz do żadnej grupy!
  <span>Ale prędko możesz to zmienić!</span></h2>
  <p class="description">Dołącz lub załóż już teraz!</p>
  <div class="buttons-container">
    <a class="buttons-container__join btn" routerLink="/join">Dołącz!</a>
    <a class="buttons-container__join btn" routerLink="/create">Stwórz własną!</a>
  </div>
  <div class="info">
    <h2 class="info__title">Dalej nie wiesz o co chodzi w FAMNOTES?</h2>
    <a class="info__button buttons-container__join btn">Dowiedz się więcej!</a>
  </div>
</div>
<ng-content></ng-content>
